<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bookkeeping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.zzw.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zzw.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBillServlet</display-name>
    <servlet-name>AddBillServlet</servlet-name>
    <servlet-class>com.zzw.servlet.AddBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBillServlet</servlet-name>
    <url-pattern>/AddBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllBillServlet</display-name>
    <servlet-name>QueryAllBillServlet</servlet-name>
    <servlet-class>com.zzw.servlet.QueryAllBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllBillServlet</servlet-name>
    <url-pattern>/QueryAllBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBillServlet</display-name>
    <servlet-name>DeleteBillServlet</servlet-name>
    <servlet-class>com.zzw.servlet.DeleteBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBillServlet</servlet-name>
    <url-pattern>/DeleteBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryBillServlet</display-name>
    <servlet-name>QueryBillServlet</servlet-name>
    <servlet-class>com.zzw.servlet.QueryBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBillServlet</servlet-name>
    <url-pattern>/QueryBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBillServlet</display-name>
    <servlet-name>UpdateBillServlet</servlet-name>
    <servlet-class>com.zzw.servlet.UpdateBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBillServlet</servlet-name>
    <url-pattern>/UpdateBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryPartBillServlet</display-name>
    <servlet-name>QueryPartBillServlet</servlet-name>
    <servlet-class>com.zzw.servlet.QueryPartBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryPartBillServlet</servlet-name>
    <url-pattern>/QueryPartBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryTypeServlet</display-name>
    <servlet-name>QueryTypeServlet</servlet-name>
    <servlet-class>com.zzw.servlet.QueryTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTypeServlet</servlet-name>
    <url-pattern>/QueryTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryDateServlet</display-name>
    <servlet-name>QueryDateServlet</servlet-name>
    <servlet-class>com.zzw.servlet.QueryDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDateServlet</servlet-name>
    <url-pattern>/QueryDateServlet</url-pattern>
  </servlet-mapping>
</web-app>